<li>
    {% if article_labels is defined and article_labels %}
        <a href="{{ url_for('Link:get', link_uri=comment.link.link_uri) }}" class="article-label">
            {{ comment.link.link_title }}
        </a>
    {% endif %}
    <div class="comment">
        {{ utils.render_avatar(comment.user, comment.comment_type == 'admin') }}
        <div class="inner">
            <div class="comment-meta">
                <ul class="left">
                    <li>
                        {{ utils.render_user(comment.user, comment.comment_type == 'admin' or comment.comment_type == 'especial', comment.comment_type == 'especial') }}
                    <li>
                        {{ utils.render_icon('clock-o') }}
                        {{ comment.comment_date }}
                </ul>
                <ul class="right">
                    <li>
                        <span title="{{ _('votes') }}">
                            {{ utils.render_icon('hand-pointer-o') }} {{ comment.comment_votes }}
                        </span>
                    </li>
                    <li>
                        <span title="{{ _('karma') }}">
                            {{ utils.render_icon('line-chart') }} {{ comment.comment_karma }}
                        </span>
                    </li>
                    <li>
                        <a href="#" title="{{ _('who voted?') }}">{{ utils.render_icon('info-circle') }}</a>
                </ul>
            </div>
            <div class="comment-text">
                <a class="order" href="#">#{{ comment.comment_order }}</a>
                {{ comment.comment_content }}
            </div>
        </div>
    </div>
</li>
