<li>
    {% if article_labels %}
        <a href="{{ url_for('Link:get', link_uri=comment.link.link_uri) }}" class="article-label">
            {{ comment.link.link_title }}
        </a>
    {% endif %}
    {% if comment.comment_type == 'admin' %}
        <img class="avatar" src="{{ url_for('static', filename='images/admin-avatar.png') }}" alt="{{ _('admin') }}" />
    {% else %}
        <img class="avatar" src="{{ comment.user.avatar_url }}" alt="{{ _("%(user)s's avatar", user=comment.user.user_login) }}">
    {% endif %}
    <div class="inner">
        <div class="comment-meta">
            <ul class="left">
                <li>
                    {% if comment.comment_type == 'admin' %}
                            <i class="fa fa-user"></i>
                            <strong>admin</strong>
                    {% else %}
                        <a href="{{ url_for('User:get', user_login=comment.user.user_login) }}">
                            <i class="fa fa-user"></i>
                            <strong>{{ comment.user.user_login }}</strong>
                        </a>
                        {% if comment.comment_type == 'especial' %}
                            <span title="{{ _('this comment was written on behalf of the jonéame administration') }}">({{ _('admin') }})</
                            span>
                        {% endif %}
                    {% endif %}
                <li>
                    <i class="fa fa-clock-o"></i>
                    {{ comment.comment_date }}
            </ul>
            <ul class="right">
                <li>
                    <i class="fa fa-star-o"></i>
            </ul>
        </div>
        <div class="comment-text">
            <a class="order" href="#">#{{ comment.comment_order }}</a>
            {{ comment.comment_id }}
            {{ comment.comment_content }}
        </div>
    </div>
</li>
