{% macro warning(text) %}
    <div class="warning">
        {{ utils.render_icon('warning') }}
        {{ _('Warning: %(text)s', text=text) }}
    </div>
{% endmacro %}
<article class="status_{{ link.status }}">
    {% if link.thumb_status == 'local' %}
        {# TODO: remove hardcoded domain #}
        <img class="thumb" src="http://joneame.net{{ link.thumb }}">
    {% endif %}
    <div class="shakebox">
        <a href="{{ url_for('Link:get', link_uri=link.uri) }}" class="square">
            <div class="votes">
                {{ link.total_votes }}
            </div>
            <div class="votes_under">
                {{ _('votes') }}
            </div>
        </a>
        {% if link.current_vote %}
            {% if link.current_vote.value >= 0 %} {# TODO: figure out why can it be 0 #}
                <a class="shakeit disabled" href="#">{{ _('great!') }}</a>
            {% else %}
                <a class="shakeit disabled" href="#">{{ _(':(') }}</a>
            {% endif %}
        {% elif link.is_votable %}
            <a class="shakeit" href="#">{{ _('vote') }}</a>
        {% else %}
            <a class="shakeit disabled" href="#">{{ _('archived') }}</a>
        {% endif %}
    </div>
    <div class="entry">
        {% if link.status == 'abuse' %}
            {{ warning(_('This link has been discarded for violating our terms of use.')) }}
        {% elif link.status == 'duplicated' %}
            {{ warning(_('This link has been discarded for having been submitted before.')) }}
        {% elif link.status == 'published' and link.negatives > 2 %}
            {{ warning(_('Controversial link. Check the comments.')) }}
        {% endif %}
        <div class="title">
            <h3>
                <a href="{{ link.url|escape }}"
                     onmousedown="jnm.ui.link_click(this, {{ link.id }})">
                     {{ link.title }}
                </a>
            </h3>
        </div>
        <ul class="submitted">
            <li>
                <a href="{{ url_for('User:get', user_login=link.user.login) }}">
                    {{ utils.render_avatar(link.user, link=False) }}
                    {{ utils.render_icon('user') }}
                    <strong>{{ link.user.login }}</strong>
                </a>
            </li>
            {% if link.url_domain %}
                <li>
                    {{ utils.render_icon('globe') }}
                    {{ link.url_domain }}
                </li>
            {% endif %}
            <li>
                {{ utils.render_icon('clock-o') }}
                {{ link.date|format_dt }}
            </li>
        </ul>
        {% if link.content and not (link_brief is defined and link_brief) %}
            <div class="text">
                {{ link.content|user_text|safe }}
            </div>
        {% endif %}
        <ul class="meta">
            <li class="comments">
                <a href="{{ url_for('Link:get', link_uri=link.uri) }}">
                    {{ utils.render_icon('comments') }}
                    {{ ngettext('%(num)s comment', '%(num)s comments', link.comment_count) }}
                </a>
            </li>
            <li>
                <strong>{{ _('karma') }}:</strong> {{ link.karma }}
            </li>
            <li>
                <strong>{{ _('users') }}:</strong> {{ link.positives }},
                <strong>{{ _('anonymous') }}:</strong> {{ link.anonymous }},
                <strong>{{ _('negatives') }}:</strong> {{ link.negatives }}
            </li>
        </ul>
        <ul class="meta">
            {# TODO: fix links that have no cat in the db #}
            {% if link.category %}
                <li>
                    <strong>{{ _('category') }}:</strong>
                    <a href="{{ url_for('Link:list_category', category_id=link.category.id) }}">
                        {{ link.category.name }}
                    </a>
                </li>
            {% endif %}
            {% if link.clickcounter %}
                <li>
                    {{ utils.render_icon('external-link-square') }}
                    <strong>{{ _('clicks') }}:</strong> {{ link.clickcounter.counter }}
                </li>
            {% endif %}
            {% if link.visitcounter %}
                <li>
                    {{ utils.render_icon('external-link-square') }}
                    <strong>{{ _('visits') }}:</strong> {{ link.visitcounter.counter }}
                </li>
            {% endif %}
            <li>
                <a href="{{ link.share_urls.twitter }}">
                    {{ utils.render_icon('twitter') }}
                </a>
            </li>
            <li>
                <a href="{{ link.share_urls.facebook }}">
                    {{ utils.render_icon('facebook') }}
                </a>
            </li>
        </ul>
    </div>
</article>
