{% extends 'layout.html' %}
{% set title = link.title %}
{% block content %}
    {% include 'link/link.html' %}
    {% if comments %}
        <ul class="comments">
            {% for comment in comments %}
                {% include 'link/comment.html' %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="nothing">
            {{ _("There's nothing to see here.") }}
        </div>
    {% endif %}
    {% if pagination %}
        {{ utils.render_pagination(pagination) }}
    {% endif %}
{% endblock %}
