{% macro warning(text) %}
    <div class="warning">
        {{ utils.render_icon('warning') }}
        {{ _('Warning: %(text)s', text=text) }}
    </div>
{% endmacro %}
<article class="status_{{ link.link_status }}">
    <div class="shakebox">
        <a href="{{ url_for('Link:get', link_uri=link.link_uri) }}" class="square">
            <div class="votes">
                {{ link.link_total_votes }}
            </div>
            <div class="votes_under">
                {{ _('votes') }}
            </div>
        </a>
        <a class="shakeit" href="#">
            {{ _('vote') }}
        </a>
    </div>
    <div class="entry">
        {% if link.link_status == 'abuse' %}
            {{ warning(_('This link has been discarded for violating our terms of use.')) }}
        {% elif link.link_status == 'duplicated' %}
            {{ warning(_('This link has been discarded for having been submitted before.')) }}
        {% elif link.link_status == 'published' and link.link_negatives > 2 %}
            {{ warning(_('Controversial link. Check the comments.')) }}
        {% endif %}
        <div class="title">
            <h3>
                <a href="{{ link.link_url|escape }}"
                     onmousedown="jnm.ui.link_click(this, {{ link.link_id }})">
                     {{ link.link_title }}
                </a>
            </h3>
        </div>
        <ul class="submitted">
            <li>
                <a href="{{ url_for('User:get', user_login=link.user.user_login) }}">
                    {{ utils.render_avatar(link.user, link=False) }}
                    {{ utils.render_icon('user') }}
                    <strong>{{ link.user.user_login }}</strong>
                </a>
            </li>
            {% if link.link_url_domain %}
                <li>
                    {{ utils.render_icon('globe') }}
                    {{ link.link_url_domain }}
                </li>
            {% endif %}
            <li>
                {{ utils.render_icon('clock-o') }}
                {{ link.link_sent_date|format_dt }}
            </li>
        </ul>
        {% if link.link_content and not link_brief %}
            <div class="text">
                {{ link.link_content }}
            </div>
        {% endif %}
        <ul class="meta">
            <li class="comments">
                <a href="{{ url_for('Link:get', link_uri=link.link_uri) }}">
                    {{ utils.render_icon('comments') }}
                    {{ ngettext('%(num)s comment', '%(num)s comments', link.link_comments) }}
                </a>
            </li>
            <li>
                <strong>{{ _('karma') }}:</strong> {{ link.link_karma }}
                (+{{ link.link_votes }}, {{ link.link_anonymous }}, -{{ link.link_negatives }})
            </li>
            <li>
                {{ utils.render_icon('external-link-square') }}
                {{ ngettext('%(num)s click', '%(num)s clicks', link.clickcounter.clickcounter_counter) }}
            </li>
            <li>
                {{ utils.render_icon('external-link-square') }}
                {{ ngettext('%(num)s visit', '%(num)s visits', link.visitcounter.visitcounter_counter) }}
            </li>
        </ul>
        <ul class="meta">
            {# TODO: fix links that have no cat in the db #}
            {% if link.category %}
                <li>
                    <strong>{{ _('category') }}:</strong>
                    <a href="{{ url_for('Link:list_category', category_id=link.category.category_id) }}">
                        {{ link.category.category_name }}
                    </a>
                </li>
            {% endif %}
            <li>
                {{ utils.render_icon('twitter') }}
            </li>
            <li>
                {{ utils.render_icon('facebook') }}
            </li>
        </ul>
    </div>
</article>
