<article class="status_{{ link.link_status }}">
    <div class="shakebox">
        <div class="votes">
            <a href="{{ url_for('Link:get', link_uri=link.link_uri) }}">
                {{ link.link_total_votes }}
            </a>
        </div>
        <a class="shakeit" href="#">
            {{ _('vote') }}
        </a>
    </div>
    <div class="entry">
        <div class="title">
            <h3><a href="{{ link.link_url }}">{{ link.link_title|safe }}</a></h3>
        </div>
        <ul class="submitted">
            <li>
                <a href="{{ url_for('User:get', user_login=link.user.user_login) }}">
                    <img class="avatar" src="{{ link.user.avatar_url }}" alt="{{ _("%(user)s's avatar", user=link.user.user_login) }}" />
                    <i class="fa fa-user"></i>
                    <strong>{{ link.user.user_login }}</strong>
                </a>
            <li>
                <i class="fa fa-clock-o"></i>
                {{ link.link_sent_date }}
        </ul>
        {% if link.link_content and not link_brief %}
            <div class="text">
                {{ link.link_content }}
            </div>
        {% endif %}
        <ul class="meta">
            <li class="comments">
                <a href="{{ url_for('Link:get', link_uri=link.link_uri) }}">
                    <i class="fa fa-comments"></i>
                    {{ ngettext('%(num)s comment', '%(num)s comments', link.link_comments) }}
                </a>
            <li>
                <strong>{{ _('karma') }}:</strong> {{ link.link_karma }}
            <li>
                <i class="fa fa-external-link-square"></i>
                {{ ngettext('%(num)s click', '%(num)s clicks', 1488) }}
        </ul>
        <ul class="meta">
            <li>
                <strong>{{ _('category') }}:</strong>
                <a href="{{ url_for('Link:list_category', category_id=link.category.category_id) }}">
                    {{ link.category.category_name }}
                </a>
            <li>
                <i class="fa fa-twitter"></i>
            <li>
                <i class="fa fa-facebook"></i>
            <li>
                <i class="fa fa-star"></i>
        </ul>
    </div>
</article>
