{% extends 'layout.html' %}
{% set title = _('Comments written by %(user)s', user=user.login) %}
{% block content %}
    {% set article_labels = true %}
    {% if items %}
        <ul class="comments">
            {% for comment in items %}
                {% include 'link/comment.html' %}
            {% endfor %}
        </ul>
        {% if pagination %}
            {{ utils.render_pagination(pagination) }}
        {% endif %}
    {% else %}
        <div class="nothing">
            {{ _("There's nothing to see here.") }}
        </div>
    {% endif %}
{% endblock %}
