{% extends 'layout.html' %}
{% set full_width = true %}
{% set title = _('Quotes by %(user)s', user=user.user_login) %}
{% block content %}
    <div class="quotes">
        <table>
            {% for quote in items %}
                <tr>
                    <th><a href="{{ url_for('Quote:get', quote_id=quote.quote_id) }}">#{{ quote.quote_id }}</a></th>
                    <td>{{ quote.quote_text }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if pagination %}
            {{ utils.render_pagination(pagination) }}
        {% endif %}
    </div>
{% endblock %}
