{% extends "layout.html" %}
{% set full_width = true %}
{% block content %}
<div class="quotes">
    <table>
        {% for quote in items %}
            <tr>
                <th><a href="{{ url_for('Quote:get', quote_id=quote.quote_id) }}">#{{ quote.quote_id }}</a></th>
                <td>{{ quote.quote_text }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if pagination %}
        {% import "utils.html" as utils %}
        {{ utils.render_pagination(pagination) }}
    {% endif %}
</div>
{% endblock %}
