{% extends 'layout.html' %}
{% set full_width = true %}
{% if user.name %}
    {% set title = '%(login)s (%(name)s)'|format(login=user.login, name=user.name) %}
{% else %}
    {% set title = user.login %}
{% endif %}
{% block content %}
    <ul class="comments">
        {% for post in items %}
            {% include 'post/post.html' %}
        {% endfor %}
    </ul>
    <div class="user">
        {{ utils.render_avatar(user) }}
        <table>
            <tr>
                <th>{{ _('user') }}:</th>
                <td>{{ user.login }}
                    {% if current_user == user or current_user.is_admin %}
                        (id: {{ user.id }}) (level: {{ user.level }})
                    {% endif %}
                    {% if current_user.is_admin and user.login != user.login_register %}
                        <em>({{ user.login_register }})</em>
                    {% endif %}
                </td>
            </tr>
            {% if user.name %}
                <tr>
                    <th>{{ _('name') }}:</th>
                    <td>{{ user.name }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ _('since') }}:</th>
                <td>{{ user.date }}</td>
            </tr>
            <tr>
                <th>{{ _('last seen') }}:</th>
                <td>{{ user.last_seen_date }}</td>
            </tr>
            {% if current_user == user or current_user.is_admin %}
                <tr>
                    <th>{{ _('email') }}:</th>
                    <td>{{ user.email }}
                        {% if current_user.is_admin and user.email != user.email_register %}
                            <em>({{ user.email_register }})</em>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if current_user.is_admin %}
                <tr>
                    <th>{{ _('last ip address') }}:</th>
                    <td>{{ user.ip }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ _('karma') }}:</th>
                <td>{{ user.karma }}</td>
            </tr>
            <tr>
                <th>{{ _('ranking') }}:</th>
                <td>#{{ user.ranking }}</td>
            </tr>
            <tr>
                <th>{{ _('links sent') }}:</th>
                <td>{{ user.links.count() }}</td>
            </tr>
            <tr>
                <th>{{ _('links published') }}:</th>
                <td>{{ user.links_published_count }}</td>
            </tr>
            <tr>
                <th>{{ _('comments') }}:</th>
                <td>{{ user.comments_count }}</td>
            </tr>
            <tr>
                <th>{{ _('posts') }}:</th>
                <td>{{ user.posts_count }}</td>
            </tr>
            <tr>
                <th>{{ _('votes cast') }}:</th>
                <td>{{ user.votes_count }}</td>
            </tr>
            <tr>
                <th>{{ _('quotes sent') }}:</th>
                <td>{{ user.quotes.count() }}</td>
            </tr>
        </table>
    </div>
{% endblock %}