/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* jonéame */

/* general */
body {
    font-family: "Arial", sans-serif;
    font-size: 10pt;
    color: #222;
}
a {
    text-decoration: none;
    color: #4f7ba7;
}
main {
    width: 1050px;
    margin: 0 auto;
}
.grid {
    margin-top: 20px;
}
.content {
    max-width: 720px;
}
.content.full-width {
    max-width: 100%;
}
strong {
    font-weight: bold; /* !!!! */
}

.cover .header, .subcover .header, .submenu .header,
main, footer {
    max-width: 1050px;
    margin: 0 auto;
}

/* header */
.cover .header,
.subcover .header,
.submenu .header {
    text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    color: white;
}

/* first */
.cover {
    background: #4f7ba7;
    width: 100%;
    height: 40px;
}
.cover .header {
    padding: 0 20px;
    margin: 0 auto;
    height: 40px;
}
.cover .header a {
    color: white;
}
.cover .header .logo {
    padding-left: 10px;
    background-image: url('../images/logo.png');
    background-size: 94px 29px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    height: 40px;
    width: 102px;
    text-indent: -14880px;
}
.cover .header .logo a {
    display: inline-block;
}
.cover .header .logo,
.cover .header .sections {
    float: left;
}
.cover .header .sections li {
    display: inline-block;
}
.cover .header .sections li a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    font-size: 11pt;
    font-weight: bold;
}
.cover .header .sections li a:hover {
    background: rgba(0,0,0,0.05);
}
.cover .header .hamburger {
    display: none;
}
.cover .header .right {
    float: right;
    margin: 0 5px 0 0;
    font-size: 10pt;
}
.cover .header .right .session {
    line-height: 40px;
}
.cover .header .right .session li {
    display: inline-block;
    margin-left: 12px;
}
.cover .header .right .session li a {
    opacity: .9;
}
.cover .header .right .session li a:hover {
    opacity: 1;
}
.cover .header .right .session li.user {
    font-weight: bold;
}
.cover .header .right .session li.user img {
    width: 20px;
    vertical-align: middle;
    margin: -2px 2px 0 0;
}
/* second */
.subcover {
    background: #5a8cbe;
    width: 100%;
    height: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.subcover .header {
    padding: 0 10px;
    margin: 0 auto;
    color: white;
}
.subcover .header .left {
    float: left;
    width: 800px;
}
.subcover .header .quote {
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 9.5pt;
}
.subcover .header .quote a {
    color: white;
}
.subcover .header .right {
    float: right;
}
.subcover .header .right .search {
    margin: 5px 0;
}
.subcover .header .right .search input {
    border: 0 none;
    font-size: 9pt;
    line-height: 20px;
    padding: 0 6px;
}
.subcover .header .right .search input[type="search"] {
    border-radius: 3px 0 0 3px;
    width: 180px;
}
.subcover .header .right .search input[type="submit"] {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    cursor: pointer;
    border-left: 1px solid #5a8cbe;
}
/* third */
.submenu {
    width: 100%;
}
.submenu .header {
    padding: 0 10px;
    margin: 0 auto;
    color: white;
}
.submenu .header ul {
    display: inline-block;
}
.submenu .header ul li {
    background: #eee;
    display: inline-block;
    margin-right: 6px;
    border-radius: 0 0 3px 3px;
    text-shadow: 0px 1px 3px rgba(255,255,255,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.submenu .header ul li a {
    display: inline-block;
    line-height: 26px;
    padding: 0 10px;
}
.submenu .header ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}
.submenu .header ul li.current {
    background: #5a8cbe;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.submenu .header ul li.current a {
    color: white;
    font-weight: bold;
}

/* fourth */
.toolbox {
    background: #eee;
    height: 26px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.toolbox ul li {
    display: inline-block;
    border-radius: 3px;
}
.toolbox ul li .fa {
    color: #333;
}
.toolbox ul li a {
    display: inline-block;
    line-height: 26px;
    padding: 0 10px;
}
.toolbox ul li:hover {
    background: rgba(0, 0, 0, 0.05);
}
.toolbox ul li.current {
    background: #5a8cbe;
}
.toolbox ul li.current .fa {
    color: white;
}
.toolbox ul li.current a {
    color: white;
    font-weight: bold;
}

/* sidebar */
.sidebar {
    float: right;
    width: 300px;
}
.sidebar .sidebox {
    margin-bottom: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.sidebar .sidebox .inner {
    padding: 16px;
    background: #eee;
}
.sidebar .sidebox h3 {
    background: #5a8cbe;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    font-size: 11pt;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 3px solid #4f7ba7;
    color: white;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.sidebar .sidebox a {
    color: #222;
}
.sidebar .sidebox ul.comments li {
    line-height: 16px;
    margin-bottom: 10px;
}
.sidebar .sidebox ul.comments li:last-child {
    margin-bottom: 0;
}
.sidebar .sidebox ul.links {
    width: 300px;
}
.sidebar .sidebox ul.links li {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 9pt;
}
.sidebar .sidebox ul.links li:last-child {
    margin-bottom: 0;
}
.sidebar .sidebox ul.links li a div.votes {
    float: left;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 3px;
    background-color: white;
    background-size: cover;
    color: white;
    border: 1px solid #4f7ba7;
}
.sidebar .sidebox ul.links li a div.votes.status_queued {
    background-image: url('../images/shakebox-queued.png');
}
.sidebar .sidebox ul.links li a div.votes.status_queued {
    color: #333;
}
.sidebar .sidebox ul.links li a div.votes.status_published {
    background-image: url('../images/shakebox-published.png');
    background-color: #37699b;
}
.sidebar .sidebox ul.links li a div.votes.status_discard,
.sidebar .sidebox ul.links li a div.votes.status_autodiscard {
    background-image: url('../images/shakebox-discarded.png');
    color: white;
    background-color: #d09a83;
}
.sidebar .sidebox ul.links li a div.votes.status_abuse {
    background-image: url('../images/shakebox-abuse.png');
    color: white;
    background-color: #d09a83;
}
.sidebar .sidebox ul.links li a div.title {
    margin-left: 56px;
    line-height: 14px;
    width: 205px;
}
.sidebar .sidebox ul.categories li {
    display: inline-block;
    width: 130px;
    line-height: 18px;
    font-size: 8pt;
}

/* content */
.content .flashed-message,
article .entry .warning {
    background-color: #f5d562;
    border-radius: 3px;
    padding: 6px 10px;
    margin-bottom: 3px;
}
.content .flashed-message {
    margin-bottom: 10px;
    padding: 8px 10px;
}

footer {
    opacity: .5;
    border-top: 1px solid #4f7ba7;
    margin-top: 10px;
    padding: 15px;
    font-style: italic;
    clear: both;
}

/* link view */
article {
    width: 720px;
    display: inline-block;
    margin-bottom: 16px;
}
article .shakebox {
    width: 60px;
    float: left;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
article .shakebox .square {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #4f7ba7;
    border-bottom: 0 none;
    display: block;
}
article .shakebox .square,
article .shakebox .shakeit {
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    box-sizing: border-box;
}
article .shakebox .square .votes {
    font-size: 20pt;
    font-weight: bold;
    padding: 4px 0 0;
}
article .shakebox .square .votes_under {
    padding: 0 0 3px;
}
article.status_published .shakebox .square {
    background-color: #37699b;
    background-image: url('../images/shakebox-published.png');
    color: white;
}
article.status_queued .shakebox .square {
    background-color: #eee;
    background-image: url('../images/shakebox-queued.png');
}
article.status_discard .shakebox .square,
article.status_autodiscard .shakebox > .square {
    background-color: #d09a83;
    background-image: url('../images/shakebox-discarded.png');
    color: #333;
}
article.status_abuse .shakebox .square {
    background-color: #d09a83;
    background-image: url('../images/shakebox-abuse.png');
    color: #333;
}
article.status_queued .shakebox .square {
    text-shadow: 0 0 2px rgba(255,255,255,.5);
}
article.status_discard .shakebox .square,
article.status_autodiscard .shakebox .square,
article.status_abuse .shakebox .square {
    border: 1px solid #d09a83;
    text-shadow: 0 0 2px rgba(0,0,0,.2);
}
article .shakebox .shakeit {
    line-height: 22px;
    background: #37699b;
    display: inline-block;
    width: 60px;
    font-size: 9pt;
    color: white;
    border-top: 1px #689acc solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
article .shakebox .shakeit.disabled {
    background: white;
    border: #37699b 1px solid;
    text-shadow: none;
    color: #37699b;
    cursor: default;
}

article .thumb {
    float: right;
    border-radius: 2px;
    width: 80px;
    margin: 0 0 10px 10px;
    border: 1px solid #aaa;
}

article .entry {
    margin-left: 70px;
    margin-top: 0px;
}
article .entry .title,
article .entry .submitted,
article .entry .text,
article .entry .meta {
    margin-bottom: 2px;
}
article .entry .title .hostname,
article .entry .submitted,
article .entry .meta a {
    color: #666;
}
article .entry .submitted,
article .entry .meta {
    line-height: 20px;
}
article .entry .title a {
    font-size: 15pt;
    font-weight: bold;
    color: #37699b;
    letter-spacing: -1px;
    line-height: 24px;
}
article .entry .title a:hover { /* cambiar luego por :visited. sólo como demostración TODO */
    color: #777;
}
article .entry .submitted li img {
    vertical-align: middle;
    height: 24px;
    border-radius: 3px;
    margin-right: 6px;
}
article .entry .submitted li {
    line-height: 12px;
}
article .entry ul li {
    font-weight: bold;
    font-size: 10pt;
    display: inline;
    margin-right: 10px;
}
article .entry ul li.comments {
    font-weight: bold;
    font-size: 10pt;
}
article .entry .submitted {
    line-height: 14px;
}
article .entry .text {
    line-height: 18px;
}

/* comments */
.content > .comments > li {
    margin-bottom: 20px;
}
.content > .comments > li ul.children {
    margin-left: 36px;
}
.content > .comments li .comment {
    background: #eee;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 6px;
}
.content > .comments li .inner {
    margin-left: 42px;
}
.content > .comments li .avatar {
    float: left;
    width: 32px;
}
.content > .comments li .comment-text {
    line-height: 18px;
}
.content > .comments li .comment-text .order {
    font-weight: bold;
    font-size: 9pt;
    padding: 2px 5px;
    color: white;
    background: #5a8cbe;
}
.content > .comments li .comment-meta {
    line-height: 16px;
    color: #666;
    font-size: 10pt;
    margin-bottom: 7px;
}
.content > .comments li .comment-meta ul li {
    display: inline;
    margin-right: 10px;
}
.content > .comments li .comment-meta ul li:last-child {
    margin-right: 0;
}
.content > .comments li .comment-meta ul.left {
    display: inline;
}
.content > .comments li .comment-meta ul.right {
    float: right;
}
.content > .comments li .article-label {
    display: block;
    line-height: 24px;
    font-weight: bold;
}

/* user profiles */
.content > .user {
    background: #fafafa;
    padding: 20px;
    font-size: 11pt;
}
.content > .user th, .user td {
    padding: 5px 3px ;
}
.content > .user th {
    font-weight: bold;
    width: 15em;
    text-align: right;
}
.content > .user img.avatar {
    float: right;
}

/* quotes in profiles */
.content > .quotes {
    background: #fafafa;
    padding: 20px;
    font-size: 10pt;
    line-height: 20px;
}
.content > .quotes th, .quotes td {
    padding: 5px;
}
.content > .quotes th {
    font-weight: bold;
    width: 6em;
    text-align: right;
}

/* quote viewer */
.quote-viewer {
    max-width: 700px;
    margin: 0 auto;
}
.quote-viewer .text {
    font-size: 28pt;
    border-radius: 10px;
    background: #eee;
    padding: 20px;
    line-height: 40px;
    word-wrap: break-word;
}
.quote-viewer .corner {
    background-color: #eee;
    background-image: url('../images/quote-corner.png');
    background-size: 25px;
    height: 25px;
    width: 25px;
    margin-left: 50px;
}
.quote-viewer .avatar {
    margin: 10px 0 0 10px;
    float: left;
}
.quote-viewer .meta {
    margin-top: 55px;
    margin-left: 100px;
}
.quote-viewer .meta .user {
    font-size: 24pt;
    font-weight: bold;
}
.quote-viewer .toolbox {
    float: right;
}

/* pager */
.pager {
    margin: 20px 10px 10px;
    line-height: 24px;
    font-size: 9pt;
}

.pager span,
.pager a {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 8px;
    color: #333;
    margin-bottom: 6px;
    font-weight: bold;
}

.pager span {
    border: 1px solid #f9f9f9;
    background: #f9f9f9;
}

.pager a {
    border: 1px solid #ccd;
}

.pager a:hover,
.pager span.current {
    border: 1px solid #99a;
    background: #99a;
    color: white;
}

img.avatar, .avatar > img {
    border-radius: 3px;
}

/* parches de responsividad */
@media (max-width: 750px) {
    main, .content,
    .cover .header, .subcover .header,
    .subcover .header .quote,
    article {
        width: auto;
    }
    .nomobile {
        display: none !important;
    }
    main .grid .sidebar {
        display: none;
    }
    main {
        padding: 0 10px;
    }
    ul.comments > li.child {
        margin-left: 20px;
    }

    .cover {
        background: #5a8cbe;
    }
    .cover .header {
        padding: 0 5px;
    }
    .cover .header .logo {
        padding-left: 0;
        padding-right: 10px;
    }
    .cover .header .hamburger {
        position: absolute;
        top: 6px;
        right: 6px;
        border-radius: 2px;
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: white;
        background-image: url('../images/hamburger.png');
        background-position: 7px 8px;
        background-repeat: no-repeat;
    }
    .cover .header .hamburger:focus {
        box-shadow: 0 2px 1px #4d73a7;
    }

    .cover .header .sections {
        display: block;
        position: absolute;
        top: 40px;
        right: 0px;
        width: 100px;
       background: #5a8cbe;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
    .cover .header .sections li {
        display: block;
    }

    .content > .user {
        font-size: 10pt;
    }
    .content > .user th {
        width: 8em;
    }
    .content > .quotes th {
        width: 2em;
    }

    article .shakebox,
    article .shakebox .shakeit {
        width: 50px;
    }
    article .entry {
        margin-left: 60px;
    }

    .toolbox {
        margin: 0 10px 20px;
        height: auto;
    }

    .quote-viewer {
        padding-bottom: 70px;
    }
    .quote-viewer .avatar {
        width: 32px;
    }
    .quote-viewer .corner {
        margin-left: 25px;
        width: 15px;
        height: 15px;
        background-size: 15px;
    }
    .quote-viewer .text {
        font-size: 16pt;
        line-height: 24px;
        padding: 14px;
    }
    .quote-viewer .meta {
        margin-left: 55px;
        margin-top: 16px;
    }
    .quote-viewer .meta .user {
        font-size: 16pt;
    }
    .quote-viewer .toolbox {
        position: fixed;
        right: 0;
        bottom: 0;
    }
}
