<li {% if post.post_parent != 0 %}class="child"{% endif %}>
    {{ utils.render_avatar(post.user, post.post_type == 'admin') }}
    <div class="inner">
        <div class="post-meta">
            <ul class="left">
                <li>
                    {{ utils.render_user(post.user, post.post_type == 'admin') }}
                <li class="timestamp">
                    <i class="fa fa-clock-o"></i>
                    <a href="{{ url_for('Post:get', user_login=post.user.user_login, post_id=post.post_id) }}">
                        {{ post.post_date }}
                    </a>
            </ul>
            <ul class="right">
                <li>
                    <i class="fa fa-star-o"></i>
            </ul>
        </div>
        <div class="post-text">
            {{ post.post_content }}
        </div>
    </div>
    {% if post.post_parent == 0 %}
        {% for post in children[post.post_id] %}
            {% include "post/post.html" %}
        {% endfor %}
    {% endif %}
</li>
