<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
        <title>Jonéame</title>
    </head>
    <body>
        <div class="cover">
            <div class="header">
                <div class="logo"><a href="{{ url_for('LinkListView:home') }}">Jonéame</a></div>
                <ul class="sections">
                    <li><a href="#">submit</a>
                    <li><a href="{{ url_for('LinkListView:queue') }}">queue</a>
                    <li><a href="#">sneak</a>
                    <li><a href="{{ url_for('PostListView:get') }}">posts</a>
                    {# <li><a href="#">polls</a> #}
                </ul>
            </div>
        </div>
        <div class="subcover">
            <div class="header">
                <div class="quote">
                    {% set quote = random_quote() %}
                    <a href="{{ url_for('QuoteView:get', quote_id=quote.quote_id) }}">
                        <i class="fa fa-quote-left"></i>
                    </a>
                    <a href="{{ url_for('UserView:get', user_login=quote.user.user_login) }}">
                        <strong>{{ quote.user.user_login }}:</strong>
                    </a>
                    {{ quote.quote_text }}
                </div>
            </div>
        </div>
        <div class="canvas">
            <div class="grid">
                {% if g.sidebar %}
                    <div class="sidebar">
                        {% for sidebox in g.sidebar %}
                            {{ sidebox|safe }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if sidemenu %}
                    {# sidemenu #}
                {% endif %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>