{% extends 'layout.html' %}
{% block content %}
    {% for post in posts %}
        {% include 'post.html' %}
        {% if post.children %}
            <div style="border-left: 3px solid red; margin-left: 10px; margin-bottom: 10px; ">
                {% for post in post.children %}
                    {% include "post.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    {% if pagination %}
        {% import "utils.html" as utils %}
        {{ utils.render_pagination(pagination, endpoint) }}
    {% endif %}
{% endblock %}