{% extends 'layout.html' %}
{% block content %}
    <div class="posts">
        <ul class="parents">
            {% for post in posts %}
                {% include 'post.html' %}
                {% if post.children %}
                    <ul class="children">
                        {% for post in post.children %}
                            {% include "postchild.html" %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
        {% if pagination %}
            {% import "utils.html" as utils %}
            {{ utils.render_pagination(pagination, endpoint) }}
        {% endif %}
    </div>
{% endblock %}