<li>
    <img class="avatar" src="{{ post.user.avatar_url|safe }}" alt="avatar de {{ post.user.user_login }}" />
    <div class="post-meta">
        <ul class="left">
            <li>
                <a href="{{ url_for('UserView:get', user_login=post.user.user_login) }}">
                    <i class="fa fa-user"></i>
                    <strong>{{ post.user.user_login }}</strong>
                </a>
            <li>
                <i class="fa fa-clock-o"></i>
                <a href="{{ url_for('PostView:get', user_login=post.user.user_login, post_id=post.post_id) }}">
                    {{ post.post_date }}
                </a>
        </ul>
        <ul class="right">
            <li>
                <i class="fa fa-star-o"></i>
        </ul>
    </div>
    <div class="post-text">
        {{ post.post_content }}
        {% if post.children %}
            (Tiene hijos)
        {% endif %}
    </div>
</li>