<li>
    <img class="avatar" src="{{ post.user.avatar_url|safe }}" alt="avatar de {{ post.user.user_login }}" />
    <div class="post-text">
        <a href="{{ url_for('UserView:get', user_login=post.user.user_login) }}">
            <strong>{{ post.user.user_login }}</strong>
        </a>
        hijo{{ post.post_content }}
    </div>
    <div class="post-meta">
        <ul class="left">
            <li>
                <i class="fa fa-clock-o"></i>
                {{ post.post_date }}
        </ul>
        <ul class="right">
            <li>
                <i class="fa fa-star-o"></i>
        </ul>
    </div>
</li>