{% macro render_pagination(pagination) %}
    {% if not pagination.pages < 2 %}
        <div class="pager">
            {% if pagination.has_prev %}
                <a href="{{ url_for(request.endpoint, page=pagination.prev_num, **pagination.args) }}">« anterior</a>
            {% endif %}
            {% for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
                {% if page %}
                    {% if page == pagination.page %}
                        <span class="current">{{ page }}</span>
                    {% elif page == pagination.pages and pagination.page < pagination.pages - 3 %} {# 3 must equal right_current #}
                        {# skip last page #}
                    {% else %}
                        <a href="{{ url_for(request.endpoint, page=page, **pagination.args) }}">{{ page }}</a>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <a href="{{ url_for(request.endpoint, page=pagination.next_num, **pagination.args) }}">siguiente »</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_menu(menu) %}
    <ul>
        {% for endpoint, text, title, current, icon, kwargs in menu %}
            <li {% if current %}class="current"{% endif %}>
                <a href="{{ url_for(endpoint, **kwargs) }}">
                    {% if icon %}<i class="fa fa-{{icon}}"></i>{% endif %}
                    {{ text }}
                </a>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_avatar(user, is_admin=False) %}
    {% if is_admin %}
        <img class="avatar" src="{{ url_for('static', filename='images/admin-avatar.png') }}" alt="{{ _('admin') }}" />
    {% else %}
        <img class="avatar" src="{{ user.avatar_url }}" alt="{{ _('%(user)s\'s avatar', user=user.user_login) }}">
    {% endif %}
{% endmacro %}

{% macro render_user(user, is_admin=False, reveal_user=False) %}
    {% if is_admin %}
        {% if reveal_user %} {# admin revealing his nick #}
            <a href="{{ url_for('User:get', user_login=user.user_login) }}">
                <i class="fa fa-user"></i>
                <strong>{{ user.user_login }}</strong>
            </a>
            <span title="{{ _('this comment was written on behalf of the jonéame administration') }}">({{ _('admin') }})</span>
        {% else %} {# admin hiding his nick #}
            <i class="fa fa-user"></i>
            <strong>admin</strong>
        {% endif %}
    {% else %} {# normal user #}
        <a href="{{ url_for('User:get', user_login=user.user_login) }}">
            <i class="fa fa-user"></i>
            <strong>{{ user.user_login }}</strong>
        </a>
    {% endif %}
{% endmacro %}
