{% macro render_pagination(pagination, endpoint) %}
    <div class="pager">
        {% if pagination.has_prev %}
            <a href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">« anterior</a>
        {% endif %}
        {%- for page in pagination.iter_pages(left_edge=1, left_current=3, right_current=5, right_edge=1) %}
            {% if page %}
                {% if page == pagination.page %}
                    <span class="current">{{ page }}</span>
                {% else %}
                    <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
            <a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">siguiente »</a>
        {% endif %}
    </div>
{% endmacro %}
