{% macro render_pagination(pagination) %}
    {% if not pagination.pages < 2 %}
        <div class="pager">
            {% if pagination.has_prev %}
                <a href="{{ url_for(request.endpoint, page=pagination.prev_num, **pagination.args) }}">{{ _('« prev') }}</a>
            {% endif %}
            {% for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
                {% if page %}
                    {% if page == pagination.page %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <a href="{{ url_for(request.endpoint, page=page, **pagination.args) }}">{{ page }}</a>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <a href="{{ url_for(request.endpoint, page=pagination.next_num, **pagination.args) }}">{{ _('next »') }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_menu(menu) %}
    <ul>
        {% for endpoint, text, title, current, icon, kwargs in menu %}
            <li {% if current %}class="current"{% endif %}>
                <a href="{{ url_for(endpoint, **kwargs) }}">
                    {% if icon %}{{ render_icon(icon) }}{% endif %}
                    {{ text }}
                </a>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_avatar(user, is_admin=False, link=True) %}
    {% if link and not is_admin %}
        <a href="{{ url_for('User:get', user_login=user.login) }}">
    {% endif %}

    {% if is_admin %}
        <img class="avatar" src="{{ url_for('static', filename='images/admin-avatar.png') }}" alt="{{ _('admin') }}" />
    {% else %}
        <img class="avatar" src="{{ user.avatar_url }}" alt="{{ _('%(user)s\'s avatar', user=user.login) }}">
    {% endif %}

    {% if link and not is_admin %}
        </a>
    {% endif %}
{% endmacro %}

{% macro render_user(user, is_admin=False, reveal_user=False) %}
    {% if is_admin %}
        {% if reveal_user %} {# admin revealing his nick #}
            <a href="{{ url_for('User:get', user_login=user.login) }}">
                {{ render_icon('user') }}
                <strong>{{ user.login }}</strong>
            </a>
            <span title="{{ _('this comment was written on behalf of the jonéame administration') }}">({{ _('admin') }})</span>
        {% else %} {# admin hiding his nick #}
            {{ render_icon('user') }}
            <strong>admin</strong>
            {% if not current_user.is_anonymous and current_user.is_admin %}
                ({{ user.login }})
            {% endif %}
        {% endif %}
    {% else %} {# normal user #}
        <a href="{{ url_for('User:get', user_login=user.login) }}">
            {{ render_icon('user') }}
            <strong>{{ user.login }}</strong>
        </a>
    {% endif %}
{% endmacro %}

{% macro render_icon(icon) %}
    <i class="fa fa-{{ icon }}"></i>
{% endmacro %}

{# from http://flask.pocoo.org/docs/0.11/patterns/wtforms/ #}
{% macro render_field(field) %}
    {% if field.widget.input_type is defined and field.widget.input_type == "hidden" %}
        {# form.hidden_tag() will print these, so do nothing #}
    {% elif field.widget.input_type is defined and field.widget.input_type == "submit" %}
        <div class="row">
            {{ field(**kwargs)|safe }}
        </div>
    {% else %}
        <div class="row">
            {{ field.label }}
            {{ field(**kwargs)|safe }}
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_form(form, action) %}
    <div id="form" class="form">
        <form action="{{ action }}" method="post">
            {% if form.hidden_errors is defined %}
                {% for error in form.hidden_errors %}
                    <div class="errors">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ form.hidden_tag() }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    </div>
{% endmacro %}
